@model IEnumerable<ComputerRepair.Systems>

@{
    ViewBag.Title = "Systems";
}

<h2></h2>

<p>
    @Html.ActionLink("Create A New System", "Create", "Systems", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brands)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drop_Off_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pick_Up_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.First_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brands)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drop_Off_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pick_Up_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quote)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Customer.First_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.System_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.System_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.System_Id })
        </td>
    </tr>
}

</table>
