@model IEnumerable<ComputerRepair.Customers>

@{
    ViewBag.Title = "New Customers";
}
<h2></h2>
@{ if (@TempData["Exist"] != null)
    {
<div class="alert alert-info">
    <strong>Info!</strong> @TempData["Exist"];
</div>
        }
    }
<p>
    @Html.ActionLink("Create A New Customer", "Create", "customers", null, new { @class = "btn btn-primary btn-large" })

</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Address
        </th>
        <th>
            Phone Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_Number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Client_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Client_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Client_Id })
            </td>
        </tr>
    }

</table>
