@model IEnumerable<ComputerRepair.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create A New item", "Create", "Inventories", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comp_Check_In)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comp_Check_Out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Ram_Installed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Power_Supply_Installed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Complete_System)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serial_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Asset_Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asset_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Issues_Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_Check_In)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_Check_Out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Ram_Installed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Power_Supply_Installed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Complete_System)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serial_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Asset_Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asset_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Issues_Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
